 .u-section-1 {
  min-height: 398px;
}

.u-section-1 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 201px);
  height: 30px;
  margin: 43px auto 0 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -30px calc(((100% - 1140px) / 2) + 1015px) 0 calc(((100% - 1140px) / 2) + 51px);
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 159px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: 76px calc(((100% - 1140px) / 2) + 171px) 0 auto;
}

.u-section-1 .u-image-2 {
  width: 159px;
  height: 159px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -159px auto 0 calc(((100% - 1140px) / 2) + 171px);
}

.u-section-1 .u-image-3 {
  width: 155px;
  height: 155px;
  background-image: url("images/logobts.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -155px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 13px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 188px);
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -29px 238px 43px calc(((100% - 1140px) / 2) + 828px);
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 201px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 940px) / 2) + 866px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 940px) / 2) + 171px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 940px) / 2) + 188px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 940px) / 2) + 683px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 201px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 646px);
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 720px) / 2) + 171px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2) + 171px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 720px) / 2) + 188px);
  }

  .u-section-1 .u-text-4 {
    margin-left: calc(((100% - 720px) / 2) + 523px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 201px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 466px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 540px) / 2) + 171px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2) + 171px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 540px) / 2) + 141px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 179px;
    margin-left: calc(((100% - 540px) / 2) + 392px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: calc(((100% - 340px) / 2) + 201px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + 266px);
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-1 {
    margin-right: calc(((100% - 340px) / 2) + 171px);
  }

  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 340px) / 2) + 171px);
  }

  .u-section-1 .u-text-3 {
    margin-left: calc(((100% - 340px) / 2) + 89px);
  }

  .u-section-1 .u-text-4 {
    margin-right: 113px;
    margin-left: calc(((100% - 340px) / 2) + 247px);
  }
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-2 {
  border-style: solid !important;
}

.u-section-1 .u-image-3,
.u-section-1 .u-image-3:before,
.u-section-1 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-3 {
  border-style: solid !important;
}

.u-section-1 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-3 {
  border-style: solid !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-1 .u-image-1 {
  border-style: solid !important;
}

.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-8:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]):hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]).hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-9:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-10:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-11:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-12:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]),
.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]):hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}

.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]).u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]).hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-block-eb87-13:not([data-block-selected]):not([data-cell-selected]) {
  border-style: solid !important;
}.u-section-2 .u-sheet-1 {
  min-height: 249px;
}

.u-section-2 .u-image-1 {
  width: 159px;
  height: 159px;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 25px auto 0 169px;
}

.u-section-2 .u-image-2 {
  width: 159px;
  height: 159px;
  transition-duration: 0.5s;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  margin: -159px auto 0;
}

.u-section-2 .u-image-3 {
  width: 159px;
  height: 159px;
  transition-duration: 0.5s;
  margin: -159px 169px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 197px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -28px auto 21px 203px;
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 148px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 152px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 93px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 96px;
  }
}

.u-section-2 .u-image-1,
.u-section-2 .u-image-1:before,
.u-section-2 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
}

.u-section-2 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-1 {
  border-style: solid !important;
}

.u-section-2 .u-image-2,
.u-section-2 .u-image-2:before,
.u-section-2 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-2.u-image-2.u-image-2:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-2 {
  border-style: solid !important;
}

.u-section-2 .u-image-2.u-image-2.u-image-2.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-2 {
  border-style: solid !important;
}

.u-section-2 .u-image-3,
.u-section-2 .u-image-3:before,
.u-section-2 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-2 .u-image-3.u-image-3.u-image-3:hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-3 {
  border-style: solid !important;
}

.u-section-2 .u-image-3.u-image-3.u-image-3.hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-2 .u-image-3 {
  border-style: solid !important;
}.u-section-3 .u-sheet-1 {
  min-height: 259px;
}

.u-section-3 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/LOGOXG.png");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: 50px auto 0 167px;
}

.u-section-3 .u-image-2 {
  width: 159px;
  height: 159px;
  transition-duration: 0.5s;
  margin: -159px auto 0;
}

.u-section-3 .u-image-3 {
  width: 159px;
  height: 159px;
  transition-duration: 0.5s;
  margin: -159px 167px 0 auto;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px auto 0 231px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px auto 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 201px 10px auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-3 {
    width: 160px;
    height: 160px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-image-3 {
    margin-right: auto;
    margin-left: 393px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: auto;
    margin-left: 433px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-image-1 {
    margin-left: 84px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 107px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 297px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 90px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 142px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 242px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-image-1 {
    margin-left: 122px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 45px;
  }

  .u-section-3 .u-image-3 {
    margin-left: 135px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 64px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 80px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 160px;
  }
}

.u-section-3 .u-image-3,
.u-section-3 .u-image-3:before,
.u-section-3 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-3.u-image-3.u-image-3:hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-3 {
  border-style: solid !important;
}

.u-section-3 .u-image-3.u-image-3.u-image-3.hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-3 {
  border-style: solid !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-2 {
  border-style: solid !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-2 {
  border-style: solid !important;
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-1 {
  border-style: solid !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-3 .u-image-1 {
  border-style: solid !important;
}.u-section-4 .u-sheet-1 {
  min-height: 285px;
}

.u-section-4 .u-image-1 {
  width: 159px;
  height: 159px;
  background-image: url("images/logosunmi.png");
  background-position: 50% 50%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: 63px auto 0 171px;
}

.u-section-4 .u-image-2 {
  width: 159px;
  height: 159px;
  background-image: url("images/logomirae.jpg");
  background-position: 50% 50%;
  transition-duration: 0.5s;
  margin: -159px auto 0;
}

.u-section-4 .u-image-3 {
  width: 159px;
  height: 159px;
  background-image: url("images/logoohmygirl.jpg");
  background-position: 50% 50%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  transition-duration: 0.5s;
  margin: -159px 171px 0 auto;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 8px auto 0 215px;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px auto 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: -32px 188px 24px auto;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-left: 161px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 141px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    margin-left: 101px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 89px;
  }
}

.u-section-4 .u-image-1,
.u-section-4 .u-image-1:before,
.u-section-4 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-1.u-image-1.u-image-1:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
}

.u-section-4 .u-image-1.u-image-1.u-image-1.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-1 {
  border-style: solid !important;
}

.u-section-4 .u-image-2,
.u-section-4 .u-image-2:before,
.u-section-4 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-2.u-image-2.u-image-2:hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
}

.u-section-4 .u-image-2.u-image-2.u-image-2.hover {
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-2 {
  border-style: solid !important;
}

.u-section-4 .u-image-3,
.u-section-4 .u-image-3:before,
.u-section-4 .u-image-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-image-3.u-image-3.u-image-3:hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-3 {
  border-style: solid !important;
}

.u-section-4 .u-image-3.u-image-3.u-image-3.hover {
  box-shadow: 2px 2px 8px 0px rgba(128,128,128,1) !important;
  border-style: solid !important;
  border-top-width: 16px !important;
  border-left-width: 16px !important;
  border-right-width: 16px !important;
  border-bottom-width: 16px !important;
}

.u-section-4 .u-image-3 {
  border-style: solid !important;
}